<h2>Management</h2>
<ul class="nav nav-sidebar">
  <li class="<%= active_class(accounts_dashboard_index_path) %>">
    <%= link_to 'Home', accounts_dashboard_index_path %>
  </li>
  <li><a href="#">Users</a></li>
  <li><a href="#">Subscriptions</a></li>
</ul>
<h2> Themes </h2>
<ul class="nav nav-sidebar">
  <li><a href="#">Pages</a></li>
  <li><a href="#">Themes</a></li>
</ul>
