<h4>Management</h4>
<ul class="nav nav-sidebar">
  <li class="<%= active_class(accounts_dashboard_index_path) %>">
    <%= link_to 'Home', accounts_dashboard_index_path %>
  </li>
  <li><a href="#">Users</a></li>
  <li><a href="#">Subscriptions</a></li>
</ul>
<h4> Themes </h4>
<ul class="nav nav-sidebar">
  <li><a href="#">Pages</a></li>
  <li><a href="#">Themes</a></li>
</ul>
<h4>Fitness coaching</h4>
<ul class="nav nav-sidebar">
  <li><a href="#">Exercises</a></li>
  <li><a href="#">Workouts Templates</a></li>
</ul>
